body {
    padding: 0;
    margin: 0;
    background-color: rgb(40,44,52);
    color: rgb(157,165,180);
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.content {
    text-align: center;
}

table.main {
    margin: auto;
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 0;
    width: 500px;
    height: 500px;/***/
    text-align: center;
    position: center;
}

tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    height: 25%;
    /* may be a good way to resize all as dynamic
    font-size: 500%;
    line-height: 200%;/**/
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 25%;
}


button{
    background-color: #3a3f4b;
    color: rgb(157,165,180);
    border: 0px;
    border-radius: 10px;
    font-size: 150%;
}