

table.main {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;/***/
    text-align: center;
    position: center;
}

tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    height: 25%;
    /* may be a good way to resize all as dynamic
    font-size: 500%;
    line-height: 200%;/**/
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 25%;
}
